<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logocastelcorno-contrast.png" alt="Scuola Castel Corno" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Scuola Castel Corno</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/corsi" class="link">Corsi</a></li>
					<li><a href="/scuola" class="link">La scuola</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contatti</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Corsi</h3>
				<ul class="mb3">
					{{ range (where .Site.Pages "Type" "post") }}
						<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Contatti</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/scuolacastelcorno/" "svg" "icons-facebook" "alt" "Scuola Castel Corno on Facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/scuolacastelcornosat/" "svg" "icons-instagram" "alt" "Scuola Castel Corno on Instagram") }}
					{{ partial "social-icon" (dict "link" "mailto:webscuolacastelcorno@googlegroups.com" "svg" "icons-mail" "alt" "Scuola Castel Corno mail") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

