<nav id="nav" data-nav class="fixed w-100" style="z-index: 100;">
<div class="mw8 flex flex-wrap justify-between items-center center">

	<a href="/" class="pa2 db h-100 w6 flex-none no-underline flex items-center">
		<!-- Logo -->
		<img src="/img/logocastelcorno-notext.png" alt="Logo" class="ml3 db mb0 h2"/>
		<!-- Title -->
		<h1 class="ml3 f4 tracked-mega-ns">Scuola Castel Corno</h1>
	</a>
	
	<!-- Mobile Menu Container -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 100 80" width="40" height="25" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" width="100" height="8"></rect>
			<rect class="menu-icon-middle mobile-menu-inner" y="30" width="100" height="8"></rect>
			<rect class="menu-icon-bottom mobile-menu-inner" y="60" width="100" height="8"></rect>
		</svg>
	</div>
	
	<!-- Nav Menu -->
	<ul class="flex b grey-3 nav-menu">
		<li><a href="/" class="ma3 no-underline db bg-primary">Home</a></li>
		<li><a href="/corsi" class="ma3 no-underline db bg-primary">Corsi</a></li>
		<li><a href="/scuola" class="ma3 no-underline db bg-primary">La scuola</a></li>
		<!-- <li><a href="/post" class="pa3 no-underline db bg-primary">Blog</a></li> -->
		<li><a href="/contact" class="ma3 no-underline db bg-primary">Contatti</a></li>
	</ul>
	
</div>
</nav>
