.mobile-menu-container {
    cursor: pointer;
    // display: block;
    padding: var(--spacing-small) var(--spacing-medium) 0 var(--spacing-medium);
    // position: absolute;
    // right: 0;
    // top: 0;
    z-index: 2;
}

.nav-menu {
    // box-shadow: inset 0 -4px 0 var(--grey-1);
    flex-direction: column;
    height: auto;
    right: 0;
    overflow-y: auto;
    // position: absolute;
    top: calc(var(--spacing-medium) + 70px);
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    min-width: 100%;
    z-index: 1;
}

.nav-menu a {
    color: white;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mobile-menu-inner {
    transition: all .3s ease-in-out;
}

.menu-open {
    transition: background-color 0.2s linear;
    background-color: var(--grey-2) !important;
    // background: white !important;
    transition: box-shadow 0.5s;
    box-shadow: 0px -10px 50px grey;
}

// .menu-open li > a {
//     color: white;
// }

.menu-open .nav-menu {
    height: auto;
    max-height: 500px;
    transition: max-height 1s ease-out;
}

.menu-open .menu-icon-top {
    transform: rotate(45deg);
}

.menu-open .menu-icon-middle {
    opacity: 0;
}

.menu-open .menu-icon-bottom {
    transform: translatex(-48px) translatey(28px) rotate(-45deg);
}

@media (--breakpoint-large) {
    .mobile-menu-container {
        display: none;
    }

    .nav-menu {
        transition: background-color 0.5s;
        background: transparent;
        flex-direction: row;
        position: static;
        min-width: unset;
        height: auto;
        max-height: fit-content;
    }
    
}

.nav-transparent {
    transition: background-color 0.2s ease-out;
    background-color: transparent;
    padding: var(--spacing-small) 0 var(--spacing-small) 0;
    position: absolute;
    color: black;
}

.nav-transparent .title {
    color: transparent;
    display: none;
}

.nav-transparent img {
    height: 5rem;
}

.nav-colored {
    transition: background-color 2s;
    background-color: var(--grey-2);
    // background-color: rgba(255, 255, 255, 0.9);
    transition: box-shadow 0.5s;
    box-shadow: 0px -10px 50px grey;
    color: black;
}