<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}

    <script>
      const nav = document.getElementById('nav');
      const navHeight = nav.getBoundingClientRect().height;
      const header = document.querySelector('.header');
      const headerHeight = header.getBoundingClientRect().height;

      function updateNavColor(entries) {
        const [entry] = entries;
        if(!entry.isIntersecting) {
          nav.classList.add("nav-colored");
          nav.classList.remove("nav-transparent");
        } else {
          nav.classList.add("nav-transparent");
          nav.classList.remove("nav-colored");
        }
        
      }

      const headerObserver = new IntersectionObserver(updateNavColor, {
        root: null,
        threshold: 0,
        rootMargin: `-${headerHeight*0.7}px`
      });

      headerObserver.observe(header)
    </script>
    
  </body>
</html>
