{{ define "main" }}

    {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

    <div class="bg-off-white pt4">
        <div class="ph3 mw7 center cms">
            {{ .Content }}
        </div>
    </div>

    <div class="ph3 pv4 mw7 center">
        
            <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3">
        
                {{ range .Pages }}
                    
                    <li class="w-50-ns ph1-ns flex">
                    
                        {{ .Render "li" }}
                    
                    </li>
                    
                {{ end }}

            </ul>

    </div>
    
    <div class="bg-off-white pa4">
        <div class="ph3 mw7 center">
            Per i corsi degli anni passati,
            <a href="/archivio" class="link b black ml2">vai all'archivio →</a>
        </div>
    </div>

{{ end }}