{{ define "main" }}

{{ partial "jumbotron" (dict "logo" .Params.logo "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- Logo e intro -->
<div class="bg-grey-1 pv4">
    <div class="flex-l mhn1-l ph3 center mw7" style="display: flex">
        {{ .Content }}
    </div>
</div>

<!-- Titolo sezione corsi -->
<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb3">{{ (.Site.GetPage "/corsi").Title }}</h2>
		{{ (.Site.GetPage "/corsi").Content }}
	</div>
</div>

<!-- Corsi -->
<div class="mw7 center">
    {{ with .Site.GetPage "section" "corsi" }}
        <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3">
            {{ range last 1 (sort .Sections "Permalink") }}
                {{ range .Pages }}
                    <li class="w-50-ns ph1-ns flex">
                        {{ .Render "li"}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    {{ end }}
</div>

{{ partial "short-text" (dict "heading" (.Site.GetPage "/scuola/").Title "text" (.Site.GetPage "/scuola/").Content "image" (.Site.GetPage "/scuola/").Params.image "buttonText" "Read more" "buttonLink" "/scuola") }}

<!-- Blog -->
<!-- {{ partial "blog" . }} -->

{{ end }}
