{{ define "main" }}

{{ partial "jumbotron" (dict "logo" .Params.logo "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}


<!-- Titolo sezione corsi -->
<div class="pt5">
    
	<div class="ph3 mw7 center cms">
        <h2 class="f2 b lh-title mb3">{{ (.Site.GetPage "/corsi").Title }}</h2>
		{{ (.Site.GetPage "/corsi").Content | safeHTML }}
	</div>

</div>

<!-- Corsi -->
<div class="mw7 center pt4">
    {{ with .Site.GetPage "section" "corsi" }}

            <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3">
                    {{ range .Pages }}
                        <li class="w-50-ns ph1-ns flex">
                            {{ .Render "li"}}
                        </li>
                    {{ end }}
            </ul>

    {{ end }}
</div>

<div class="mt5">
    {{ partial "short-text" (dict "heading" (.Site.GetPage "/scuola/").Title "text" (.Site.GetPage "/scuola/").Content "image" (.Site.GetPage "/scuola/").Params.image "buttonText" "Read more" "buttonLink" "/scuola") }}
</div>

{{ partial "organico" .Site.Data.organico }}

<!-- Blog -->
<!-- {{ partial "blog" . }} -->


{{ end }}
